<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frizid.timeline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>
<queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name="com.frizid.timeline.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".photoeditor.EditImageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name="com.frizid.timeline.post.ReplyActivity" />
        <activity android:name="com.frizid.timeline.menu.TranslationActivity" />
        <activity android:name="com.frizid.timeline.menu.InviteActivity" />
        <activity android:name="com.frizid.timeline.menu.TermsActivity" />
        <activity android:name="com.frizid.timeline.group.JoinRequestActivity" />
        <!--activity android:name="com.frizid.timeline.StickersPost" /-->
        <activity android:name="com.frizid.timeline.menu.PrivacyActivity" />
        <activity android:name="com.frizid.timeline.group.AddGroupActivity" />
        <activity android:name="com.frizid.timeline.group.GroupMembersActivity" />
        <activity android:name="com.frizid.timeline.menu.EditNumberActivity" />
        <activity android:name="com.frizid.timeline.menu.EditEmailActivity" />
        <activity android:name="com.frizid.timeline.menu.EditPasswordActivity" />
        <activity android:name="com.frizid.timeline.menu.VerificationActivity" />
        <activity android:name="com.frizid.timeline.menu.SavedActivity" />
        <activity android:name="com.frizid.timeline.menu.MenuActivity" />
        <activity android:name="com.frizid.timeline.who.FollowersActivity" />
        <activity android:name="com.frizid.timeline.who.FollowingActivity" />
        <activity android:name="com.frizid.timeline.notifications.NotificationScreen" />
        <activity android:name="com.frizid.timeline.who.ReelLikedActivity" />
        <activity android:name="com.frizid.timeline.who.ViewedActivity" />
        <activity android:name="com.frizid.timeline.story.HighViewActivity" />
        <activity android:name="com.frizid.timeline.search.LocationActivity" />
        <activity android:name="com.frizid.timeline.who.LikedActivity" />
        <activity android:name="com.frizid.timeline.story.StoryViewActivity" />
        <activity android:name="com.frizid.timeline.story.AddStoryActivity" />
        <activity
            android:name="com.frizid.timeline.reel.ViewReelActivity"

            android:theme="@style/ReelTheme" />
        <activity
            android:name="com.frizid.timeline.reel.ReelActivity"

            android:theme="@style/ReelTheme" />
        <activity android:name="com.frizid.timeline.reel.PostReelActivity" />
        <activity android:name="com.frizid.timeline.send.SendToUserActivity" />
        <activity android:name="com.frizid.timeline.send.SendMediaActivity" />
        <activity android:name="com.frizid.timeline.send.MediaSelectActivity" />
        <activity android:name="com.frizid.timeline.group.CommentGroupActivity" />
        <activity android:name="com.frizid.timeline.group.CreateGroupPostActivity" />
        <activity android:name="com.frizid.timeline.group.EditGroupActivity" />
        <activity android:name="com.frizid.timeline.group.GroupFragment" />
        <activity android:name="com.frizid.timeline.group.GroupProfileActivity" />
        <activity android:name="com.frizid.timeline.group.AddMemberActivity" />
        <activity android:name="com.frizid.timeline.group.StepThreeActivity" />
        <activity android:name="com.frizid.timeline.group.StepTwoActivity" />
        <activity android:name="com.frizid.timeline.group.StepOneActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDF9NisUWrgCiRYUI3hSUThTVKLttUzK18" />

        <activity android:name="com.frizid.timeline.MediaViewActivity" />
        <activity android:name="com.frizid.timeline.post.CommentActivity" />
        <activity android:name="com.frizid.timeline.search.SearchActivity" />
        <activity android:name="com.frizid.timeline.search.TrendingActivity" />
        <activity android:name="com.frizid.timeline.post.CreatePostActivity" />
        <activity android:name="com.frizid.timeline.profile.UserProfileActivity" />
        <activity android:name="com.frizid.timeline.profile.EditProfileActivity" />
        <activity android:name="com.frizid.timeline.emailAuth.ForgotPasswordActivity" />
        <activity android:name="com.frizid.timeline.Check" />
        <activity android:name="com.frizid.timeline.emailAuth.SignUpActivity" />
        <activity android:name="com.frizid.timeline.emailAuth.LoginActivity" />
        <activity
            android:name="com.frizid.timeline.welcome.SplashScreenActivity"

            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.frizid.timeline.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.app.myfriend.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.app.myfriend.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.app.myfriend.com"
                    android:scheme="app" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8957916229862289~8996479428" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="d3d1fe66beabb1f3186a83f64ec4c3c5" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider676599150755589"
            android:exported="false" />

        <provider
            android:name=".MyFileProvider"
            android:authorities="${applicationId}.fileproviderr"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"></meta-data>
        </provider>

    </application>

</manifest>